.page-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 27px;
    margin-bottom: 40px;
}

.register-title {
    display: block;
    text-align: center;
    color: #46A358;
}

.register-button {
    width: 300px;
    height: 45px;
    background-color: #46A358;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
   
    margin-top: 41px; 
}

.register-text {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    
    color: #3D3D3D;
    text-align: center;
}

.networks-text {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    
    color: #727272;
    
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border: 1px;
    
}

.form-container input {
    width: 300px;
    height: 40px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 14px;
    font-size: 14px;
    font-weight: 400;
    box-sizing: border-box;
}

.networks {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px;
}

.networks-button {
    width: 300px;
    height: 40px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-title {
    display: block;
    text-align: center;
    color: #46A358;
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.text {
    display: inline-block;
    vertical-align: middle;
    width: 60%;
}

.picture {
    display: inline-block;
    vertical-align: middle;
    width: 35%;
}

.header-logo {
    display: inline-block;
    vertical-align: middle;
    width: 150px;
}

.header-navigation {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 260px);
    text-align: center;
    
}

.header-btn {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
}

.navigation-list {
    list-style: none;    
    padding: 0;
    margin: 0;
}



.header-item {
    display: inline-block;
    vertical-align: middle;
    
    text-decoration: none;
    margin-right: 50px;
        
}

.header-item:last-child {
    margin-right: 0;
            
}

.menu-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    
    color: #3D3D3D;
}

.menu-link:hover {
    font-weight: 600;
}

.activ {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
   
    color: #3D3D3D;
    border-bottom: 3px solid #46A358;
    padding-bottom: 25px;
    
}

.activ:hover {
    font-weight: 900;
    color: blue;
}

.section-title {
    font-weight: 900;
    font-size: 70px;
    line-height: 70px;
  
    color: #3D3D3D;
    margin-top: 7px;
}

.mark {
    color: #46A358;
}

.welcome-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    
    color: #3D3D3D;
    margin-top: 68px;
}

.description-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    
    color: #727272;
}

.shop-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 40px;
    border-radius: 6px;
    color: #FFFFFF;
    background-color: #46A358;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-top: 44px;
}

.shop-btn:hover {
    background-color: #3D8F4A;
}

.login-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 35px;
    border-radius: 6px;
    color: #FFFFFF;
    background-color: #46A358;
    text-decoration: none;
    gap: 4px;
        
}

.login-btn:hover {
    background-color: #3D8F4A;
}

.my-form, .networks  {
    display: flex;
    flex-direction: column;
    align-items: center;            
    justify-content: center;
        
}



