@font-face {
    font-family: "CeraPro";
    src: url(../fonts/CeraPro-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "CeraPro";
    src: url(../fonts/CeraPro-Medium.woff2) format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "CeraPro";
    src: url(../fonts/CeraPro-Bold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "CeraPro";
    src: url(../fonts/CeraPro-Black.woff2) format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font: 14px/1.2 "CeraPro", "Arial", "Helvetica", sans-serif;
    margin: 0 auto;
}



                    /* my form */
.page-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 27px;
    margin-bottom: 40px;
}

.register-title {
    display: block;
    text-align: center;
    color: #46A358;
}

.register-button {
    width: 300px;
    height: 45px;
    background-color: #46A358;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    margin-top: 41px; 
}

.register-text {
    font-size: 13px;
    line-height: 16px;
    color: #3D3D3D;
    text-align: center;
}

.networks-text {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #727272;
    
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border: 1px;
    
}

.form-container input {
    width: 300px;
    height: 40px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 14px;
    font-size: 14px;

}

.networks {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px;
}

.networks-button {
    width: 300px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-title {
    display: block;
    text-align: center;
    color: #46A358;
}

                          /* header */
.header-container {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header-navigation {
    flex-grow: 1;
}

.navigation-list {
    list-style: none;    
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}


.header-item {
   text-decoration: none;
   margin-right: 50px;
        
}

.header-item:last-child {
    margin-right: 0;
}

.menu-link {
    text-decoration: none;
    font-size: 16px;
    line-height: 100%;
    color: #3D3D3D;
}

.menu-link:hover {
    font-weight: 600;
}

.activ {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #3D3D3D;
    border-bottom: 3px solid #46A358;
    padding-bottom: 25px;
    
}

/* section planet */

.container-planet {
    display: flex;
}

.section-title {
    font-weight: 900;
    font-size: 70px;
    line-height: 70px;
    color: #3D3D3D;
    margin-top: 7px;
    text-transform: uppercase;
}

.mark {
    color: #46A358;
}

.welcome-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #3D3D3D;
    margin-top: 68px;
}

.description-text {
    font-size: 14px;
    line-height: 24px;
    color: #727272;
}
              
.shop-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 40px;
    border-radius: 6px;
    color: #FFFFFF;
    background-color: #46A358;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-top: 44px;
}

.shop-btn:hover {
    background-color: #3D8F4A;
}

.login-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 35px;
    border-radius: 6px;
    color: #FFFFFF;
    background-color: #46A358;
    text-decoration: none;
    gap: 4px;
        
}

.login-btn:hover {
    background-color: #3D8F4A;
}

.my-form, .networks  {
    display: flex;
    flex-direction: column;
    align-items: center;            
    justify-content: center;
        
}
               /* section table */

.container-plants {
    display: flex;
    width: 100%;
    margin-top: 50px;
}

.plants {
    width: 100%;
}

.advertising-list {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    
}

.advertising-picture {
   margin-top: auto;
   
}

.plant-table {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    
}


.plant-card {
    list-style: none;
    margin-left: 19px;
}

.categories-item {
    text-decoration: none;
    margin-bottom: 90px;
    color: #3D3D3D;
}

.categories-item:hover {
    font-weight: 700;
}

.plant-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 37px;
    align-items: center;
}

.plant-list li:last-child {
    margin-right: 0;
}

.plant-item {
    text-decoration: none;
    color: #3D3D3D;
    font-size: 15px;
}

.plant-item:hover {
   font-weight: 700;
   color: #3D3D3D;
   border-bottom: 3px solid #46A358;
   padding-bottom: 7px;
}

.active {  
    text-decoration: none;
    font-weight: 700;
    color: #46A358;
}

.active:hover {
    color: #46A358;
    border-bottom: 3px solid #46A358;
    padding-bottom: 7px;
}

.categories-list li {
    list-style: none;
    margin-bottom: 20px;
}

.float {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
    
}



.float-right {
    display: flex;
    align-items: center;
}

.plant-card {
    margin-top: 31px;
    flex-grow: 1;
}

.plant-card img {
    background-color: #FBFBFB;
}

.plant-picture-text {
    font-size: 16px;
    color: #3D3D3D;
    margin-bottom: 6px;
}

.price {
    font-weight: 700;
    font-size: 18px;
    color: #46A358;
}

.cards {
    display: flex;
    gap: 28px;
    padding-top: 50px;
}

.card {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding: 5px 15px 5px 5px;
    background-color: #FBFBFB;
}



.card-img img {
    margin-top: -30px;
}

.card-text {
    text-align: right;
    flex-grow: 1;
}

.container-plants {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
    max-width: 1200px;
    margin: 50px auto 0;
    padding: 0 15px;
}


.advertising-list {
    width: 310px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.plants-right {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
    min-width: 0;
}


.plant-table {
    display: block;
}


.picture-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    
}

             /* panigation */
.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 90px;
    
}

.pagination-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 20px 15px;
}

.pagination {
    display: flex;
    gap: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.pagination li {
    list-style: none;
}

.pagination a {
    display: flex;
    width: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;
    border: 1px solid #46A358;
    border-radius: 6px;
    color: #46A358;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    transition: 0.2s;
}

.pagination a:hover {
    background-color: #46A358;
    color: white;
}

.pagination a.active {
    background-color: #46A358;
    color: white;
}


               /* find more */
.find-more {
    flex: 0 0 100%;
    order: 999;
    width: 100%;
    max-width: 1200px;
    margin-top: 65px;
    
}

.find-more-title {
    font-weight: 900;
    font-size: 18px;
    color: #3D3D3D;
    text-transform: uppercase;
    
}

.find-more-text {
   color: #727272;

   
}

.card-btn {
    display: inline-block;
    text-align: center;
    width: 140px;
    height: 40px;
    background-color: #46A358;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    border-radius: 6px;
    text-decoration: none;
    padding-top: 11px;
    cursor: pointer;
}

.card-btn:hover {
    background-color: #3D8F4A;
}

.card-text {
    text-align: right;
        
}

.blog-cards {
    margin-bottom: 50px;
    margin-top: 138px;
}

.container-blog {
    display: flex;
    gap: 44px;
}

.blog-title {
   text-align: center;
}

.blog-text {
text-align: center;
margin-bottom: 35px;

color: #727272;
}

.blog-time {
    color: #46A358;
    padding-left: 15px;
}

.blog-link {
    color: #3D3D3D;
    padding-left: 15px;
    text-decoration: none;
    font-weight: 500;
}
.blog-link:hover {
    color: #46A358;
}

.blog-card-title {
    font-weight: 700;
    font-size: 20px;
    padding-left: 15px;
}   

.blog-card-text {
    
    color: #727272;
    padding-left: 15px;
}