@font-face {
    font-family: "CeraPro";
    src: url(../fonts/CeraPro-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "CeraPro";
    src: url(../fonts/CeraPro-Medium.woff2) format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "CeraPro";
    src: url(../fonts/CeraPro-Bold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "CeraPro";
    src: url(../fonts/CeraPro-Black.woff2) format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font: 14px/1.2 "CeraPro", "Arial", "Helvetica", sans-serif;
    margin: 0 auto;
}



/* my form */
.page-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 27px;
    margin-bottom: 40px;
}

.register-title {
    display: block;
    text-align: center;
    color: #46A358;
}

.register-button {
    width: 300px;
    height: 45px;
    background-color: #46A358;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    margin-top: 41px;
}

.register-text {
    font-size: 13px;
    line-height: 16px;
    color: #3D3D3D;
    text-align: center;
}

.networks-text {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #727272;

}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border: 1px;

}

.form-container input {
    width: 300px;
    height: 40px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 14px;
    font-size: 14px;

}

.networks {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px;
}

.networks-button {
    width: 300px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-title {
    display: block;
    text-align: center;
    color: #46A358;
}

/* header */

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header-navigation {
    flex-grow: 1;
}

.navigation-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

/* sub menu */

.navigation-list {
    list-style: none;
    display: flex;
    gap: 40px;
    position: relative;
}

.header-item {
    position: relative;
}

.header-item a {
    text-decoration: none;
    color: #3D3D3D;
}


.sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 188px;
    padding: 10px 0;
    list-style: none;
    display: none;
    z-index: 1;
    padding-top: 37px;

}

.header-item:hover>.sub-menu {
    display: block;
}

.sub-menu li {
    background: #EDF6EE;

}

.sub-menu a {
    display: block;
    padding: 8px 12px;
    color: #3D3D3D;
    text-decoration: none;
    font-size: 16px;
}

.sub-menu li:hover>a {
    background: #1A712A;
    color: #fff;
    font-weight: 700;
}

.arrow {
    margin-left: 85px;
}

.sub-menu li:hover>a .arrow {
    stroke: #FFFFFF;
    transform: rotate(180deg);
}

.second-menu {
    position: absolute;
    top: 37px;
    left: 100%;
    width: 178px;
    background: #EDF6EE;
    list-style: none;
    padding: 0 0;
    display: none;
    z-index: 2;
}


.sub-menu li:hover>.second-menu {
    display: block;
}

.second-menu a {
    display: block;
    padding: 8px 12px;
    color: #3D3D3D;
    text-decoration: none;
}

.second-menu li:hover>a {
    background: #1A712A;
    color: #fff;
    font-weight: 700;
}

/* sub menu end */

.header-item {
    text-decoration: none;
    margin-right: 50px;
    position: relative;

}

.header-item:last-child {
    margin-right: 0;
}

.menu-link {
    text-decoration: none;
    font-size: 16px;
    line-height: 100%;
    color: #3D3D3D;
}

.menu-link:hover {
    font-weight: 600;
    border-bottom: 3px solid #46A358;
    padding-bottom: 25px;
}

.activ {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #3D3D3D;
    border-bottom: 3px solid #46A358;
    padding-bottom: 25px;

}

.header-btn {
    display: flex;
    align-items: center;
}


.header-actions {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: auto;
    margin-right: 30px;
}

.header-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}


.header-icon svg {
    width: 20px;
    height: 20px;
    fill: #3D3D3D;
}

.login-btn {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    padding: 8px 16px;
    background-color: #46A358;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
}

.login-btn:hover {
    background-color: #3b8f4b;
}

.login-icon {
    width: 18px;
    height: 18px;
    fill: currentColor;
    
}

.basket {
    position: relative;
    display: inline-flex;
    align-items: center;
}

.icon-basket {
    width: 24px;
    height: 24px;
    fill: #3D3D3D;
}

.basket-count {
    position: absolute;
    top: 1px;
    right: -5px;
    width: 12px;
    height: 12px;
    background-color: #46A358;
    color: #FFFFFF;
    font-size: 8px;
    font-weight: 500;
    line-height: 1;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* section planet */

.container-planet {
    display: flex;
}

.section-title {
    font-weight: 900;
    font-size: 70px;
    line-height: 70px;
    color: #3D3D3D;
    margin-top: 7px;
    text-transform: uppercase;
}

.mark {
    color: #46A358;
}

.welcome-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #3D3D3D;
    margin-top: 68px;
}

.description-text {
    font-size: 14px;
    line-height: 24px;
    color: #727272;
}

.shop-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 40px;
    border-radius: 6px;
    color: #FFFFFF;
    background-color: #46A358;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-top: 44px;
}

.shop-btn:hover {
    background-color: #3D8F4A;
}

.login-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 35px;
    border-radius: 6px;
    color: #FFFFFF;
    background-color: #46A358;
    text-decoration: none;
    gap: 4px;

}

.login-btn:hover {
    background-color: #3D8F4A;
}

.my-form,
.networks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

/* section table */

.container-plants {
    display: flex;
    width: 100%;
    margin-top: 50px;
}

.plants {
    width: 100%;
}

.advertising-list {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    width: 310px;
    gap: 20px;
}

.plant-table {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
}


.plant-card {
    list-style: none;
    margin-left: 19px;
    margin-top: 20px;
}

.categories-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: #3D3D3D;
}

.categories-item:hover {
    font-weight: 700;
}

.plant-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 37px;
    align-items: center;
}

.plant-list li:last-child {
    margin-right: 0;
}

.plant-item {
    text-decoration: none;
    color: #3D3D3D;
    font-size: 15px;
}

.plant-item:hover {
    font-weight: 700;
    color: #3D3D3D;
    border-bottom: 3px solid #46A358;
    padding-bottom: 7px;
}

.active {
    text-decoration: none;
    font-weight: 700;
    color: #46A358;
    position: relative;
}


.active:hover {
    color: #46A358;
    padding-bottom: 7px;
}

.categories-list li {
    list-style: none;
    margin-bottom: 20px;
    
}




.count {
    color: #3D3D3D;
    margin-left: 10px;
}

.price-range {
    width: 300px;
    margin-top: 36px;
}

.price-title {
    font-size: 18px;
    font-weight: 700;
    color: #3D3D3D;
    margin-bottom: 20px;
}

.range-track {
    position: relative;
    height: 6px;
    background: #E4F0E6;
    border-radius: 3px;
    margin-bottom: 20px;
}

.range-fill {
    position: absolute;
    left: 0;
    width: 70%;
    height: 100%;
    background: #46A358;
    border-radius: 3px;
}

.range-thumb {
    position: absolute;
    top: 50%;
    width: 18px;
    height: 18px;
    background: #46A358;
    border-radius: 50%;
    transform: translateY(-50%);
    border: 3px solid #fff;
    box-sizing: border-box;
}

.range-thumb.left {
    left: 0;
}

.range-thumb.right {
    left: 70%;
}

.price-value {
    font-size: 15px;
    color: #3D3D3D;
    margin-bottom: 20px;
}

.price-value span {
    color: #46A358;
    font-weight: 700;
}

.filter-btn {
    width: 120px;
    height: 40px;
    background: #46A358;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;    
}


.categories-size {
    margin-top: 46px;
}

       



.float {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-bottom: 41px;

}

.float-right {
    margin-left: auto;
}

.plant-card {
    flex-grow: 1;
    position: relative;
}

.plant-image-wrapper {
    position: relative;
}

.plant-card-icons {
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

.plant-card:hover .plant-card-icons {
    opacity: 1;
    visibility: visible;
}

.plant-card-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border-radius: 2px;
}

.icon {
    width: 18px;
    height: 18px;
    fill: #3D3D3D;
}

.plant-card-icons a:hover .icon {
    fill: #46A358;
}

             


.sale-arise {
    position: absolute;
    opacity: 1;
    pointer-events: none;
    width: 80px;
    height: 29px;
    color: #FBFBFB;
    background-color: #46A358;
    text-align: center;
    padding-top: 7px;
    font-weight: 500;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.plant-card::before {
    content: "";
    position: absolute;
    top: -5px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #46A358;
    opacity: 0;
    transition: 0.3s ease;
}


.plant-card:hover::before {
    opacity: 1;
}

.plant-card img {
    background-color: #FBFBFB;
}

.plant-picture-text {
    font-size: 16px;
    color: #3D3D3D;
    
    margin-bottom: 6px;
}

.price {
    font-weight: 700;
    font-size: 18px;
    color: #46A358;
}

.cards {
    display: flex;
    gap: 28px;
    padding-top: 50px;
}

.card {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding: 5px 15px 5px 5px;
    background-color: #FBFBFB;
}

.card-img img {
    margin-top: -30px;
}

.card-text {
    text-align: right;
    flex-grow: 1;
}

.container-plants {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
    max-width: 1200px;
    margin: 50px auto 0;
    padding: 0 15px;
}

.plants-right {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
    min-width: 0;
}

.plant-table {
    display: block;
}

.picture-list {
    list-style: none;
    padding: 0;
    margin: 0;
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

/* panigation */

.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 90px;

}

.pagination-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 20px 15px;
    margin-top: 90px;
}

.pagination {
    display: flex;
    gap: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.pagination li {
    list-style: none;
}

.pagination a {
    display: flex;
    width: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;
    border: 1px solid #46A358;
    border-radius: 6px;
    color: #46A358;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    transition: background-color 0.2s ease,
        color 0.2s ease,
        border-color 0.2s ease;
}

.pagination a:hover {
    background-color: #46A358;
    color: white;
}

.pagination a.active {
    background-color: #46A358;
    color: white;
}


/* find more */

.find-more {
    flex: 0 0 100%;
    order: 999;
    width: 100%;
    max-width: 1200px;
    margin-top: 65px;
}

.find-more-title {
    font-weight: 900;
    font-size: 18px;
    color: #3D3D3D;
    text-transform: uppercase;
    max-width: 150px;
    margin-left: auto;
}

.find-more-text {
    color: #727272;
    max-width: 292px;
}

.card {
    max-width: 586px;
}

.card-btn {
    display: inline-block;
    text-align: center;
    width: 140px;
    height: 40px;
    background-color: #46A358;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    border-radius: 6px;
    text-decoration: none;
    padding-top: 11px;
    cursor: pointer;
}

.card-btn:hover {
    background-color: #3D8F4A;
}

.card-text {
    text-align: right;
}

.blog-cards {
    margin-bottom: 50px;
    margin-top: 138px;
}

.container-blog {
    display: flex;
    gap: 44px;
    background-color: #FBFBFB;
}

.blog-title {
    text-align: center;
}

.blog-text {
    text-align: center;
    margin-bottom: 35px;
    color: #727272;
}

.blog-time {
    color: #46A358;
    padding-left: 15px;
}

.blog-link {
    color: #3D3D3D;
    padding-left: 15px;
    text-decoration: none;
    font-weight: 500;
}

.blog-link:hover {
    color: #46A358;
}

.blog-card-title {
    font-weight: 700;
    font-size: 20px;
    padding-left: 15px;
}

.blog-card-text {
    color: #727272;
    padding-left: 15px;
}

.blog-card-part {
    background: #FBFBFB;
}

  /* footer */

.footer-top {
    display: flex;
    margin-top: 20px;
    gap: 30px;
    background: #FBFBFB;
    
}

.footer-placeholder {
    display: flex; 
    margin-top: 25px;
}

.footer-placeholder input {
    width: 354px;
    height: 40px;
    padding: 0 12px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
    box-sizing: border-box;
}

.footer-placeholder button {
    width: 85px;
    height: 40px;
    background-color: #46A358;
    color: #FFFFFF;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
}

.footer-placeholder button:hover {
    background-color: #3b8f4b;
}

.footer-card-title {
    color: #3D3D3D;
    font-size: 18px;
    line-height: 16px;
}

.top-text {
    font-size: 13px;
    line-height: 22px;
    color: #727272;
    margin-top: 30px;
}

.footer-plant {
    display: flex;
    width: 67%;
    gap: 61px;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 25px;
}

.card-title {
    font-size: 17px;
    line-height: 16px;
}


.footer-plant > div {
    position: relative;
}


.footer-plant > div:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 110px;
    right: -30px;
    transform: translateY(-50%);
    width: 1px;
    height: 187px;
    background-color: #46A3581A;
    
}

.footer-card {
    width: 33%;
    margin-right: 25px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.card-item {
    width: 33%;
    background-size: auto 92px;
    background-repeat: no-repeat;
    padding-top: 100px;
    font-size: 17px;
    line-height: 16px;
    
}

.card-garden {
    background-image: url('../images/garden-icon.svg');
    
}

.card-plant {
    
    background-image: url('../images/plantren-icon.svg');
    
}

.card-watering {
    
    background-image: url('../images/watering-icon.svg');
   
}

.footer-top-text {
    font-size: 14px;
    line-height: 22px;
    color: #727272;
}

.footer-logo {
    margin-left: 23px;
}

.footer-middle {
    display: flex;
    align-items: center;
    width: 100%;
    height: 88px;
    background: linear-gradient(to right,
        #EDF6EF,
        #52C368);
    gap: 115px;
}


.footer-middle-list li {
    position: relative;
    padding-left: 25px;
    display: flex;
    align-items: flex-start;
    gap: 9px;
}

.footer-middle-list li a {
    text-decoration: none;
    color: #3D3D3D;
}


.footer-middle-list li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 16px;
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat;
}


.adress-icon-location {
    position: relative;
    
}

.message-icon {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    margin-top: 3px;
    fill: #46A358;
        
}

.footer-middle-list li a {
    text-decoration: none;
    color: #3D3D3D;
    line-height: 1.4;
}






.adress-icon-location {
    display: flex;
    align-items: center;
    gap: 9px;
    margin-left: 15px;
}


.adress-icon-location .icon-location {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    stroke: #46A358;
    fill: none;
    
}


.adress-icon-location a {
    text-decoration: none;
    color: #3D3D3D;
    line-height: 1.4;
}


.adress-icon-location a:hover {
    font-weight: 500;
    
}


.footer-middle-list address a {
    text-decoration: none;
    color: #3D3D3D;
    line-height: 1.4;
    display: inline-block;
    max-width: 180px;
   word-wrap: break-word;
}

.icon-phone a {
    white-space: nowrap;
}

.icon-calling {
    width: 20px;
    height: 20px;
}

.footer-middle-list {   
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 125px;
    list-style: none;
    padding-right: 22px;
}

.footer-middle-list a:hover {
    font-weight: 500;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    border-bottom: 1px solid #46A35833;
    padding-bottom: 27px;
    background: #FBFBFB;
    gap: 20px;
   
}


.footer-bottom-start {
    margin-left: 25px;
    
}

.footer-bottom-title {
    padding-top: 33px;
}

.footer-bottom-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    color: #3D3D3D;
    padding: 0;
    margin: 0;
    
    
}

.footer-bottom-list li {
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin-bottom: 15px;
    
}

.footer-bottom-media {
    margin-top: 33px;
    flex: 0 0 34%;
}

.social-list {
    display: flex;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin: 20px 0 33px;
    
}

.social-list li a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 30px;
    height: 30px;
    border: 1px solid #46A35833;
    transition: font-weight 0.2s ease;
}

.social-list li a:hover {
    font-weight: 500;
   
}


.social-list li a:hover .social-icon {
    fill: #46A358;
}

.social-icon {
    width: 16px;
    height: 16px;
    fill: #3D3D3D;
    transition: fill 0.2s ease, transform 0.2s ease;
}

.social-list li a:hover .social-icon {
    transform: scale(1.15);
}

.footer-copyright {
    text-align: center;
    color: #3D3D3D;
    padding: 20px 0;
}

.footer-bottom-list a {
    text-decoration: none;
    color: #3D3D3D;
}

.footer-bottom-list a:hover {
    font-weight: 500;
    
}

.footer-bottom-list li:last-child {
    margin-bottom: 0;
    
}

.footer-bottom-start,
.footer-bottom-middle,
.footer-bottom-last {
    flex: 0 0 22%;
}